.how
  background:
    color: $tambio-blue

  h1.section-title
    color: white

  .how-image
    background:
      position: center
      size: cover
    height: 225px
    width: 100vw
    margin-left: -30px

  .how-description
    margin: 0px

    h3
      text-align: center
      color: white
      font-size: 14px
      text-transform: uppercase
      line-height: 17px

    p
      margin-top: 15px
      color: rgba(255, 255, 255, 0.80)
      text-align: center
      font-size: 14px
      line-height: 20px

  .how-buttons
    padding-bottom: 20px
