.contact
  background:
    color: #555555
  padding-bottom: 5px

  h1.section-title
    color: rgba(255, 255, 255, 0.90)

  .row
    position: relative

    input[type=text]
      height: 30px
      width: 95%
      margin-bottom: 10px

    input[type=submit]
      color: white
      font-size: 12px
      font-weight: bold
      background:
        color: $tambio-blue
      border: none
      border-radius: 2px
      padding: 10px
      display: block
      margin: 15px auto

  textarea
    width: 100%

  textarea:focus, input[type=text]:focus
    outline-color: rgba(69, 158, 166, .90)
    box-shadow: 0 0 5px rgba(69, 158, 166, .90)
