footer
  background:
    color: #333333
  padding-bottom: 25px
  padding-top: 10px

  ul
    display: flex
    flex-direction: column
    margin: 0 auto
    padding: 0px

    li
      padding-top: 20px
      list-style-type: none
      text-align: center

  a,
  p
    font-size: 16px
    line-height: 24px
    text-align: center
    text-decoration: none
    color: white

  a:hover
    opacity: .65

  .left
    display: none

  .faq
    font-weight: bold

  .copyright
    color: rgba(255, 255, 255, 0.75)

@media (min-width: 768px)
  footer
    padding-top: 8px
    padding-bottom: 15px

    .left
      padding-bottom: 0px !important
      padding-top: 5px !important
      display: block
      text-align: center

    ul
      max-width: 280px
      flex-direction: row

      li
        margin: 0
        padding: 0
        &:last-child
          display: none
