section.contact 
  h1.section-title Get in Touch

  form(id="contact_form", action="#", method="POST", enctype="multipart/form-data")
    div.row
      input(id="name", class="input", name="name", type="text", placeholder="Your Name")
    div.row
      input(id="email", class="input", name="email", type="text", placeholder="Your Email")
    div.row
      textarea(id="message", class="input", name="message", rows="7", cols="30", placeholder="Your Message")
    div.row
      input(id="submit_button", type="submit", value="SEND MESSAGE") 
  
