section.featured
  h1.section-title Who Featured Us?
  
  ul.articles
    li 
      div.image 
        
      div.text 
        h3 DEAL Streat Asia
        p PH startup Tambio takes a chance on expansion
        
    li 
      div.image 
        
      div.text 
        h3 Inquirer
        p Local startup scene gets boost from IdeaSpace
