section.featured
  h1.section-title Articles Featuring Tambio
  
  ul.articles
    a(href='#')
      li
        div.text 
          h3 DEAL Streat Asia
          p PH startup Tambio takes a chance on expansion
        
    a(href='#')
      li 
        div.text 
          h3 Inquirer
          p Local startup scene gets boost from IdeaSpace
        
    a(href='#')
      li 
        div.text 
          h3 Tech in Asia
          p 10 new Philippine startups to watch out for
