section.header
  div.title
    div.logo#logo
      img(src="assets/images/tambio-logo-small.png")
    div.title-img#title-img
      img(src="assets/images/tambio.png")
  div.description#description
    p An automatic raffle activation platform for both companies and customers
    

  
    
  
 
  
