section.header
  div.title
    div.logo
      img(src="assets/images/tambio-logo-small.png")
    h1 Tambio 
    p An automatic raffle activation platform for both companies and customers
  
  div.action-button
    a(href="#") LEARN MORE
    

  
    
  
 
  
