section.how
  h1.section-title your All-in-One raffle solution

  div.how-content
    div.how-details#how-details
      
    div.how-buttons#how
      a(href='#', data-id='create')
        div#button
          div.button-container
            i(class="icon ion-android-contacts")
          h3 FOR CUSTOMERS
      a(href='#', data-id='get') 
        div#button.active
          div.button-container
            i(class="icon ion-pie-graph")
          h3 FOR RAFFLE OPERATORS
      a(href='#', data-id='view')
        div#button
          div.button-container
            i(class="icon ion-compose")
          h3 FOR EVENTS
      
    
    // Data content for buttons
    
    div(data-id='create').data
      div.how-image 
        img(src="assets/images/raffle.png")
          
      div.how-description
        h3 FOR CUSTOMERS
        p Tambio makes the raffle joining fun and easy by combining both traditional and digital raffles (we call it hybrid!). Customers love the digital feel in joining the raffle and yet still feels familiar with the whole process of actually dropping their tickets in raffle drums.
    
    div(data-id='get').data
      div.how-image 
        img(src="assets/images/admin.png")
          
      div.how-description
        h3 FOR RAFFLE OPERATORS
        p Tambio makes raffle monitoring across different locations easy thru real-time analytics. Normally, paper-based raffles do not produce analytics for raffle operators, but with Tambio: it's magical! No more post raffle encoding as the raffle's data is available 24/7. Tambio's report generator is comprehensive with chats and graphs for easier data analysis.


      div(data-id='view').data
        div.how-image 
          img(src="assets/images/events.png")
            
        div.how-description
          h3 FOR EVENTS
          p Tambio provides effective event registrations for companies. Tambio minimizes queueing and creates good first event impression for attendees.
