section.how
  h1.section-title How does tambio work?
  
  div(style="background-image: url('assets/images/app.png');").how-image 
  
  div.how-description
    h3 Easier to join Raffles 
    p Quisque mollis, erat ac tincidunt convallis, massa arcu auctor dui, non lobortis diam lacus quis dolor. Donec facilisis quis tellus vel faucibus. Vestibulum condimentum augue eget quam tempor porta. 
    
  div.how-buttons
    //TODO Add buttons
