section.partner
  h1.section-title Happy Clients
  
  ul.client-logos
    li
      img(src="tambio/assets/images/client-logos/acesaatchi.png")
    li
      img(src="assets/images/client-logos/mega.png")
    li
      img(src="assets/images/client-logos/meralco.png")
    li
      img(src="assets/images/client-logos/negros.png")
    li
      img(src="assets/images/client-logos/pldt-alpha.png")
    li
      img(src="assets/images/client-logos/pldt-sme.png")
    li
      img(src="assets/images/client-logos/rwm.png")
    li
      img(src="assets/images/client-logos/smart.png")
    li
      img(src="assets/images/client-logos/sun.png")
    li
      img(src="assets/images/client-logos/tv5.png")
